
main {
  width: 100px;
  height: 100px;
}

button {
  text-transform: uppercase;
  font-family: Tourney;
  font-size: 22px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
  user-select: none;
}

.heading-container {
  display: flex;
  align-items: center;
}

.heading-container::before {
  content: "";
  display: inline-block;
  width: 100px; 
  height: 8px; 
  background-color: black;
  margin-right: 2px; 
  position: absolute;
}

.heading-text {
  font-size: 30px;
  font-weight: bold;
}

header {
  width: inherit;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 50px;
  right: 280px;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 100px;
}

header>img {
  margin-left: auto;
}

header>ul{
  display: flex;
}

header li:first-child::after {
  content: '/';
  margin: 10px;
}

li {
  list-style: none;
}

span {
  font-family: Farro;
  line-height: 200px;
  letter-spacing: 0.4em;
  text-wrap: nowrap;
  text-transform: capitalize;
  margin: 150px;
}

a {
  color: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.5px;
  letter-spacing: 0.03em;
  text-decoration: none;
  user-select: none;
}

.cards {
  display: flex;
  justify-items: center;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;
  width: 1200px;
}

.flip-card {
  width: 270px;
  height: 180px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  >* {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 180px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
  }
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background: #e6e6e6;
}

.flip-card-back {
  background: #1a1a1a;
  transform: rotateY(180deg)
}